# ===============================
# Global Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual environments & secrets
# ===============================
venv/
.env
.env.*
!.env.example

# ===============================
# Logs / runtime
# ===============================
*.log
*.pid
*.out
*.err

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ===============================
# Backend
# ===============================
backend/.env
backend/*.log
backend/.pytest_cache/
backend/models/
backend/__pycache__/

# ===============================
# Simulator
# ===============================
simulator/.env
simulator/*.log
simulator/__pycache__/

# ===============================
# Dashboard / Streamlit
# ===============================
dashboard/.env
dashboard/*.log
dashboard/__pycache__/
.streamlit/
.cache/


infra/.env
infra/postgres/data/

# ===============================
# ML / Data artifacts
# ===============================
*.pkl
*.joblib
*.onnx
*.h5
models/
data/
datasets/

# ===============================
# Tests / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Misc
# ===============================
coverage/

